:root {
  --theme-color: #FFFB1D;
}

.light-mode {
  --background-color: #ffffff;
  --text-color: #000000;
  
  /*links (standard HTML colors)*/
  --link-unvisited: #0000EE;
  --link-visited: #551A8B;
  --link-hover: #FF0000;
  --link-active: #FF0000;
  
  /*inline-code*/
  --inline-code-background-color: #478494;
  
  --table-heading-background-color: #9394a5;
  --table-border-color: #0E0E0E;
  
  --navbar-background-color: #484b6a;
  --dragbar-background-color: #6F76B8;
  
  /*boolean*/
  --navbar-icon-white: 1;
  --navbar-icon-hover-white: 0;
  
  /*command window*/
  --command-window-text: black;
  --command-window-background: #d2d3db;
  
  /*list bullet colors*/
  --list-bullet-color: #fffffff;
  
  /*scrollbar-color*/
  --scrollbar-track: #EEEEEE;
  --scrollbar-thumb: #AAAAAA;
  --scrollbar-hover: #5F5F5F;
}

/* Define root variables for dark mode */
.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;

  /*links*/
  --link-unvisited: #809fff;
  --link-visited: #809fff;
  --link-hover: #DD2CFF;
  --link-active: #809fff;
  
  /*inline-code*/
  --inline-code-background-color: #002B36;
  
  --table-heading-background-color: #1C1C1C;
  --table-border-color: #504E4E;
  
  --navbar-background-color: #333333;
  --dragbar-background-color: #5E5E5E;
  
  /*boolean*/
  --navbar-icon-white: 1;
  --navbar-icon-hover-white: 0;
  
  --command-window-text: #cccccc;
  --command-window-background: #222222;
  
  /*list bullet colors*/
  --list-bullet-color: var(--theme-color);
  
  /*scrollbar-color*/
  --scrollbar-track: #002B36;
  --scrollbar-thumb: #AAAAAA;
  --scrollbar-hover: #5F5F5F;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
-webkit-scrollbar-track { 
  background: rgba(0,0,0,0);
}
 
::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: var(--scrollbar-thumb);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: var(--scrollbar-hover); 
}

/* General Layout and Reset */
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/* Editor Styles */
#editor {
  font-size: 14pt;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.code-block-output {
  font-size: 14pt;
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Output Styles */
#output {
  font-size: 16pt;
  font-family: "Computer Modern Serif", serif;
  color: var(--text-color);
  position: relative;
  height: 100%;
  padding: 1cm 10%;
  overflow: auto;
  text-align: justify;
  box-sizing: border-box;
  overflow-wrap: break-word;
  background: var(--background-color);
}

/* unvisited link */
#output a:link {
  color: var(--link-unvisited);
}

/* visited link */
#output a:visited {
  color: var(--link-visited);
}

/* mouse over link */
#output a:hover {
  color: var(--link-hover);
}

/* selected link */
#output a:active {
  color: var(--link-active);
}

#output h1 {
  background: var(--theme-color);
  color: black;
  padding-left: 20px;
  border-radius: 5px;
  text-align: left;
}


#output ol, ul {
  margin: 0pt;
}

#output li::marker, ul::marker {
  color: var(--list-bullet-color);
}

#output hr {
  color: var(--theme-color);
  background-color: var(--theme-color);
  border-color: var(--theme-color);
}

#output blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  padding-left: 30px;
  border-left: 5px solid var(--theme-color);
}

/* Used only for inline code */
#output code {
  font-size: 14pt;
  background-color: var(--inline-code-background-color);
  padding: 1px;
}

#output .highlight {
  background-color: var(--theme-color);
  color: black;
  padding-left: 2px;
  padding-right:2px;
  border-radius: 2px;
}

#output table {
  border-collapse:collapse;
  width: 100%;
  border-radius: 5px;
}
#output th, td {
  border: 1px solid var(--table-border-color);
  padding: 8px;
  text-align: left;
}
#output th {
  background-color: var(--table-heading-background-color);
  font-weight: bold;
}

#output .qed {
  width: 100%;
  font-size: 20pt;
  text-align: right;
  color: var(--theme-color);
}

#output .graph {
  width: 100%;
  text-align: center;
}

#output img, image {
  padding: 10px;
  max-width: 70%;
}

/* Wrapper and Box Styles */
.wrapper {
  width: auto;
  height: 100%;
  display: flex; /* Flexbox for layout */
  padding: 0;
  z-index: 2;
}

.box {
  box-sizing: border-box;
  flex: 1 1 auto; /* Flexible and equally sized */
  background-color: #222;
  color: #aaa;
  padding-top: 50px;
}

/* Handler (Resizable Divider) */
.handler {
  width: 15px;
  background: var(--dragbar-background-color);
  padding: 0;
  cursor: ew-resize;
  flex: 0 0 auto;
}

.handler::before {
  display: block;
  width: 15px;
  height: 100%;
  background: var(--dragbar-background-color);
  margin: 0 auto;
}

/* Dragbar */
.dragbar {
  position: relative;
  background: #111;
  height: 20%;
  width: 2px;
  transform: translate(-2px, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

.dragbuttons {
  position: relative;
  top: 30%;
  width: 50px;
  transform: translateX(-4px);
  z-index: 100;
}

.dragbutton {
  position: relative;
  width: 24px;
  height: 24px;
  background: black;
  border-radius: 12px;
  margin-top: 5px;
  margin-bottom: 5px
}

.dragbutton img{
  width: 24px;
  height: 24px;
  -webkit-filter: invert(1);
  filter: invert(1);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.dragbutton:hover {
  color: black;
  cursor: pointer;
}

/* Navbar */
.navbar {
  overflow: hidden;
  background-color: var(--navbar-background-color);
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 80;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.topel {
  font-family: Arial, sans-serif;
  color: var(--text-color);
  text-align: center;
  padding: 13px 5px;
  font-size: 17px;
  display: flex;
  align-items:center;
}

.topel-left {
  float: left;
}

.topel-right {
  float: right;
}

.topel:hover {
  background: var(--theme-color);
  color: black;
  cursor: pointer;
}

#themeSelector {
  background: var(--background-color);
  border: 1px solid var(--background-color);
}

#themeSelector {
  border: none;
  width: 100%;
  height: 100%
}

.navbar .themeSelectorContainer {
  float: right;
  padding: 13px 5px;
  width: 24px;
  height: 24px;
}

#themeSelector:hover {
  cursor: pointer;
}

.navbar .logo {
  float: left;
  display: block;
  text-align: center;
  margin: 5px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--theme-color);
  
  user-drag: none;
  -webkit-user-drag: none;
}

.navbar .icon{
  width: 24px;
  height: 24px;
  text-align: center;
  -webkit-filter: invert(var(--navbar-icon-white));
  filter: invert(var(--navbar-icon-white));

  user-drag: none;
  -webkit-user-drag: none;
}

.navbar .topel:hover .icon{
  -webkit-filter: invert(var(--navbar-icon-hover-white));
  filter: invert(--navbar-icon-hover-white);
}

.navbar .toggle{
  text-align: center;
  padding: 13px 5px;
  font-size: 17px;
  display: flex;
  float: right;
  align-items:center;
}

/* Custom Command Window */
#customCommandWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 60%;
  max-width: 600px;
  padding: 20px;
  background: var(--command-window-background);
  border: 1px solid var(--command-window-text);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", sans-serif;
  color: var(--command-window-text);
  display: none; /* Initially hidden */
  height: 400px;
  overflow: hidden;
}

/* Command Window Table */
#customCommandWindow table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#customCommandWindow th, #customCommandWindow td {
  padding: 10px;
  text-align: left;
  border: 1px solid var(--table-border-color);
}

#customCommandWindow th {
  background-color: var(--table-heading-background-color);
}

#customCommandWindow table tbody {
  font-family: monospace;
}

/* Controls for Adding Items */
#customCommandWindow .controls {
  display: flex;
  gap: 10px;
}

#customCommandWindow .controls input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Courier, monospace;
}

#customCommandWindow .controls button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#customCommandWindow .controls button:hover {
  background-color: #0056b3;
}

/* Command Window Close Button */
#closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.deleteButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

#closeButton:hover, .deleteButton:hover{
  background-color: #d63030;
}

/* Command Window Scrollable Table Container */
#customCommandWindow .table-container {
  height: calc(100% - 100px); /* Leave space for controls */
  overflow-y: auto; /* Add vertical scrolling */
  margin-bottom: 10px;
}

#customCommandWindow th {
  position: sticky;
  top:0;
  z-index: 100;
  border: 1px solid var(--table-border-color);
}

#customCommandWindow table {
  border-collapse: separate; /* Don't collapse */
  border-spacing: 0;
}

/* KaTeX stuff */
.katex-display { overflow: auto hidden;}
.katex { font-size: 1em; }

/* Hoping this fixes an error whereby underscores aren't shown in certain resolutions */
.ace_content {
    line-height: 1;
}

.copy-button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    opacity: 0.8;
    transition: opacity 0.2s;
  }

  .copy-button:hover {
    opacity: 1;
  }

/* Print Styles */
@media print {
  .navbar {
    display: none;
  }

  body {
    overflow: visible;
    background #ffffff;
  }

  .wrapper {
    padding: 0;
  }
    
  .code-block-output {
    font-size: 14pt;
    position: relative;
    width: 100%;
    height: auto;
  }

    .handler {
        display: none;
        visibility: hidden;
    }

    .dragbar {
        display: none;
        visibility: hidden;
    }

    .box {
        box-sizing: border-box;
        flex: 1 1 auto; /* Flexible and equally sized */
        background-color: white;
        color: #aaa;
        padding: 0;
    }

    ,copy-button {
        display: none;
        visibility: hidden;
    }

    #output {
        font-size: 12pt;
        font-family: "Computer Modern Serif", serif;
        position: relative;
        height: 100%;
        padding: 1cm 10%;
        overflow: auto;
        color: black;
        background-color: white;
        quotes: initial;
    }

    /* KaTeX stuff */
    /* in print mode, no scroll-bars!*/
    .katex-display { overflow: hidden }
}
